@theme {
  --color-cookie-brown: #542916;
  --color-cookie-gold: #b79858;
  --color-cookie-rust: #a13a1e;
  --color-cookie-sky: #88b8ce;
  --color-cookie-cream: #fefaf0;
  --color-cookie-honey: #f1c166;
  --color-cookie-charcoal: #282828;
}
